<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=5" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  </head>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Inspections</mat-card-title>
      <mat-card-subtitle>Daily inspection</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button [routerLink]="['/userdash/add-inspection']">
        Add
      </button>
    </mat-card-actions>
  </mat-card>
</html>
